
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0px;
}

.logo h1 a {
    color: blueviolet;
    text-decoration: none;
}

.search-main input {
    width: 500px;
    padding: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    border-width: 1px;
}

.btn-search {
    background: blueviolet;
    color: white;
    font-size: 16px;
    padding: 9px;
    border-color: blueviolet;
}

.main-menu ul {
    list-style: none;
    padding: 0px;
}

.main-menu ul li {
    display: inline-block;
    margin: 0px 10px;
}

.main-menu ul li a {
    color: blueviolet;
    text-decoration: none;
}

.suggested-result {
    padding: 20px;
    list-style: none;
    background: white;
    border: 1px solid #ddd;
    display: list-item;
}

.suggested-result li {
    margin-bottom: 5px;
}

.suggested-result li a {
    color: blueviolet;
    cursor: pointer;
    text-decoration: none;
}