
  <h1>Your Cart</h1>
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-12 col-sm-8 items">
        <!--1-->
        <div *ngFor="let cart of cartData" class="cartItem row align-items-start">
          <div class="col-2 mb-2">
            <img class="w-100" src="{{cart.image}}" alt="art image">
          </div>
          <div class="col-3 mb-2">
            <h6 class="">{{cart.name}}</h6>
          </div>
          <div class="col-2">
            <p class="cartItemQuantity p-1 text-center">{{cart.quantity}}</p>
          </div>
          <div class="col-2">
            <p id="cartItem1Price">{{cart.price}}</p>
          </div>
          <div class="col-3">
            <button class="btn btn-danger" (click)="removeToCart(cart.id)">Remove to Cart</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-12 col-sm-4 p-3 proceed form">
        <div class="row m-0">
          <div class="col-sm-8 p-0">
            <h6>Amount</h6>
          </div>
          <div class="col-sm-4 p-0">
            <p id="subtotal">{{priceSummary.price}}</p>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-sm-8 p-0 ">
            <h6>Tax</h6>
          </div>
          <div class="col-sm-4 p-0">
            <p id="tax">{{priceSummary.tax}}</p>
          </div>
        </div>
        <div class="row m-0">
            <div class="col-sm-8 p-0 ">
              <h6>Dlivery</h6>
            </div>
            <div class="col-sm-4 p-0">
              <p id="tax">{{priceSummary.delivery}}</p>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-sm-8 p-0 ">
              <h6>Discount</h6>
            </div>
            <div class="col-sm-4 p-0">
              <p id="tax">{{priceSummary.discount}}</p>
            </div>
          </div>
        <hr>
        <div class="row mx-0 mb-2">
          <div class="col-sm-8 p-0 d-inline">
            <h5>Total</h5>
          </div>
          <div class="col-sm-4 p-0">
            <p id="total">{{priceSummary.total}}</p>
          </div>
        </div>
        <div class="row mx-0">
            <button (click)="checkout()" id="btn-checkout" class="shopnow"><span>Checkout</span></button>
        </div>
      </div>
    </div>
  </div>