
<div class="seller-auth-main">

<!-- Sign Up Area -->

    <div *ngIf="!showLogin" class="sign-up">
        <h1>Seller Sign Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <input type="text" name="name" ngModel class="form-input" placeholder="Enter Name">
            <input type="password" name="password" ngModel class="form-input" placeholder="Enter Password">
            <input type="email" name="email" ngModel class="form-input" placeholder="Enter Email">
            <button class="form-btn">Sign Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have Account? Click to Login</a>
        </form>
    </div>




    <!-- Login Area -->

    <div *ngIf="showLogin" class="login">
        <h1>Seller Login</h1>
        <p class="error">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)">
            <input type="email" name="email" ngModel class="form-input" placeholder="Enter Email">
            <input type="password" name="password" ngModel class="form-input" placeholder="Enter Password">
            <button class="form-btn">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't have Account? Click to Sign Up</a>
        </form>
    </div>


</div>