/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: blueviolet;
}

body {
    font-family: system-ui;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px;
}

.sign-up, .login {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.sign-up h1, .login h1 {
    margin: 20px 0px 30px;
}

.sign-up form, .login form {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 10px;
    margin-bottom: 10px;
}

.form-btn {
    background: blueviolet;
    color: white;
    font-size: 16px;
    padding: 8px;
    border-color: blueviolet;
    cursor: pointer;
}

.auth-toggle-link {
    color: blueviolet;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.message-add-s {
    color: green;
    margin-bottom: 20px;
}

ul li a {
    cursor: pointer;
}

.carousel-caption {
    background: #00000099;
    border-radius: 5px;
    color: white;
}

.carousel-control-next span, .carousel-control-prev span {
    background: #00000099;
    border-radius: 5px;
    color: white;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.invalid-input {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    text-align: left;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}