

.product-slider-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}



.bg-brand-btn {
  background: blueviolet;
}

.btn-buynow {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

@media (min-width: 576px) {
  .btn-buynow {
    font-size: 1rem;
  }
}

h2 {
  font-weight: 900;
}

.badge--slim {
  font-weight: 400;
}

.disclaimer {
  font-size: 0.8rem;
}

.cont-box {
  max-width: 1200px;
}

/* Centered text */
.label-top {
  position: absolute;
  background-color: blueviolet;
  color: #fff;
  top: 8px;
  right: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.label-top a {
    text-decoration: none;
}

.over-bg {
  background: rgba(53, 53, 53, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
}

.bold-btn {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 50px 5px 50px;
}

.box .btn {
  font-size: 1.5rem;
}

@media (max-width: 1025px) {
  .box .btn {
    padding: 5px 40px 5px 40px;
  }
}

@media (max-width: 250px) {
  .box .btn {
    padding: 5px 30px 5px 30px;
  }
}

/* START BUTTON */
.btn-warning {
  background: blueviolet;
  color: white;
  fill: #ffffff;
  border: none;
  text-decoration: none;
  outline: 0;
  /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
  /* border-radius: 100px; */
}

.btn-warning--main {
  background: transparent;
  padding: 5px 25px 5px 25px;
  border: solid 2px blueviolet;
  border-radius: 20px;
  width: 100%;
}

@media (min-width: 576px) {
  .btn-warning--main {
    width: 300px;
  }
}

.btn-warning:hover {
  background: blueviolet;
  color: white;
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-check:focus + .btn-warning,
.btn-warning:focus {
  background: blueviolet;
  color: white;
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

.btn-warning:active:focus {
  box-shadow: 0 0 0 0.25rem #ccc;
}

.btn-warning:active {
  background: blueviolet;
  color: #fff;
  /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
  font-size: 1rem;
  background-color: blueviolet !important;
  color: white !important;
}

.bg-danger {
  font-size: 1rem;
}

.price-hp {
  font-size: 1rem;
  font-weight: 600;
  color: darkgray;
}

.card {
  background: #fff;
  box-shadow: none;
  transition: none;
  border: 0;
  border-radius: 0;
}

.card-img,
.card-img-top {
}

.card h3 {
  overflow: hidden;
  height: 56px;
  font-weight: 300;
  font-size: 1rem;
}

.card h3 a {
  color: #1a1a1a;
}

.card h3 a:hover {
  color: #616161;
}

.card-img-top {
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  object-fit: contain;
  padding: 30px;
}

.card h2 {
  font-size: 1rem;
}

.card-body {
  /* background: #ffc107; */
  background: #e9ecef;
}

.aff-link {
  /* text-decoration: overline; */
  font-weight: 500;
  color: #000 !important;
}


